{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 80%;">
        <div class="row">
            {% for movie in movies %}
                <div class="card col-md-4" style="width:16rem">

                        <div class="card-body">
                            <a href="{{ path('show_movie', {'id': movie.id }) }}">
                                <h5 class="card-title">{{ movie.name }}</h5>
                            </a>
                            {% if movie.image starts with 'http' %}
                                <img style="max-width: 100%" src="{{ movie.image }}" alt="{{ movie.name }}">
                            {% else %}
                                <img style="max-width: 100%"  src="/assets/upload/image/{{ movie.image }}" alt="{{ movie.name }}">
                            {% endif %}
                            <div class="card-text" style="max-height: 250px;
                                                    height: 250px;
                                                    white-space: nowrap;
                                                    overflow: hidden;
                                                    text-overflow: ellipsis;">
                                {{ movie.synopsis | raw }}
                            </div>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <div class="card-text">
                                    <a href="{{ path('add_watch', {'id': movie.id }) }}">
                                        <button>Watch</button>
                                    </a>
                                </div>
                            {% endif %}

                        </div>

                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
